name: Deploy to EC2 Tomcat

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy website
  uses: appleboy/ssh-action@v0.1.7
  with:
    host: ${{ secrets.EC2_HOST }}
    username: ${{ secrets.EC2_USER }}
    key: ${{ secrets.EC2_KEY }}
    port: 22
    script: |
      # Remove old files
      sudo rm -rf /opt/tomcat/webapps/algofive/*

      # Copy new files from temporary folder
      sudo cp -r /home/ec2-user/deploy/* /opt/tomcat/webapps/algofive/

      # Restart Tomcat
      sudo /opt/tomcat/bin/shutdown.sh || true
      sudo /opt/tomcat/bin/startup.sh
